* {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 0 10px;
}

.logo {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    color: #333;
    margin-right: 20px;
    margin-left: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border-radius: 8px;
    border: none;
    background-color: #f3f3f3;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.burger-menu-container {
    display: block;
    cursor: pointer;
}

.burger-menu {
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 50;
    transition: visibility 0.3s, opacity 0.3s;
}

.mobile-menu.open {
    display: block;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    transition: transform 0.3s ease;
}

.mobile-menu-list li {
    list-style: none;
}

.menu-item {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
    color: #007BFF;
    transform: translateX(5px);
}

.menu-item:focus {
    outline: none;
    color: #007BFF;
}

.close-menu-container {
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 51;
}

.close-menu {
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 15px;
    margin-right: auto;
    margin-left: 20px;
}

.icon1 {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    background-image: url("icons/favorites.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon2 {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    background-image: url("icons/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon3 {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    background-image: url("icons/vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}


.icon:hover {
    color: black;
}


@media (min-width: 1024px) {
    .burger-menu-container {
        display: none;
    }

    .mobile-menu {
        display: flex !important;
        position: static;
        flex-direction: row;
        gap: 2rem;
    }

    .mobile-menu-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        margin-left: auto;
    }

    .menu-item {
        padding: 10px 15px;
        font-size: 16px;
        color: #333;
        transition: all 0.3s ease;
        text-transform: uppercase;
        font-weight: bold;
    }

    .menu-item:hover {
        color: #007BFF;
        text-decoration: underline;
    }
}
